<!DOCTYPE html>
<html>

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Teachy</title>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
            crossorigin="anonymous">
      <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
      <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/interactjs@1.3.4/dist/interact.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
      <link rel="stylesheet" href="css/style.css">
</head>

<body>
      <!-- Navigation bar -->
      <div class="container">
            <nav>
                  <input type="checkbox" id="nav" class="hidden">
                  <label for="nav" class="nav-btn">
                        <i></i>
                        <i></i>
                        <i></i>
                  </label>
                  <div class="logo">
                        <a href="/">TEACHY</a>
                  </div>
                  <div class="nav-wrapper">
                        <ul>
                              <li><a href="/"><i class="fas fa-home"></i><span> </span>Home</a></li>

                              <% if (!user) { %>
                              <li><a href="/users/login"><i class="fas fa-cogs"></i><span> </span>Gestisci</a></li>
                              <li><a href="/users/login"><i class="fas fa-book"></i><span> </span>Registro</a></li>
                              <li><a href="/users/login"><i class="fas fa-random"></i><span> </span>Random Picker</a></li>
                              <li><a href="/users/login"><i class="fas fa-info-circle"></i><span> </span>About</a></li>
                              <li><a class="signin link" href="/users/login" id="login"><i class="fas fa-sign-in-alt"></i><span></span>Login</a></li>
                              <% } else { %>
                              <li><a href="/manage"><i class="fas fa-cogs"></i><span> </span>Gestisci</a></li>
                              <li><a href="/registro"><i class="fas fa-book"></i><span> </span>Registro</a></li>  
                              <li><a href="/random"><i class="fas fa-random"></i><span> </span>Random Picker</a></li> 
                              <li><a href="/about"><i class="fas fa-info-circle"></i><span> </span>About</a></li> 
                              <li class="itemsLike"> <i class="fas fa-user-circle"></i><%= user.name %></li>
                              <li><a class="signin link" href="/users/logout" id="logout"><i class="fas fa-sign-out-alt"></i><span></span>Logout</a></li>
                              <%} %>
                        </ul>
                  </div>
            </nav>
      </div>

      <section class="welcome" id="welcomeText">
            Ciao, <%= user.username %>. <br>Gestisci le tue classi.
      </section>
      <div id="wrapper">
            <div id="mainManage">
                  <form  <% if (!user) { %>
                              action="/manage/add" 
                        <%} else { %>
                              action="/manage/add/<%= user.id %>" 
                        <%} %> method="POST" id="classAddForm">
                        <label for="">Aggiungi una classe</label>
                        <select name="cNum" class="selectClass">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                        </select>
            
                        <select name="cSez" class="selectClass">
                              <option value="A">A</option>
                              <option value="B">B</option>
                              <option value="C">C</option>
                        </select>
                        <input type="submit" value="+" class="btnClass">
                  </form>
                  <ul>
                        <div id="classList">
                              <% for(var i = 0; i<(user.classes.length); i++) { %>
                                    <li class="classList tap-target" id="<%= user.classes[i].id %>"> <%= user.classes[i].cName %></li>
                              <% } %>
                        </div>
                  </ul>
                  <div id="faq">
                        Eliminare una classe o uno studente?<br> Guarda le <a href="/about">guida</a>!
                  </div>
            </div>

            <div id="ajaxContainer">
                  <div id="userInvisibleId" hidden><%= user._id %></div>
                  <div id="invisibleId" name="classid" hidden></div>
                  <div id="className"></div>
                  <div id="addStudent">
                        <form action="/manage/addStudent/<%= user.id %>" method="POST" id="formAddStud" autocomplete="off">
                              <label id="labeltext">Aggiungi uno studente</label>
                              <input id="name_input" type="text" name="name" placeholder="Nome" tabindex="1">
                              <input id="lname_input" type="text" name="lname" placeholder="Cognome" tabindex="2">
                              <div id="switch">
                                    <label><input type="radio" value="M" name="gender" tabindex="3" checked>Maschio</label>
                                    <label><input type="radio" value="F" name="gender">Femmina</label>
                              </div>
                              <input id="addBtn_input" type="submit" value="+">
                        </form>
                  </div>
                  
                  <div id="students"></div>
            </div>
      </div>
      
</body>   
<script src="/js/manageCode.js"></script>
</html>     
